/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #7FFFD4;
}

/* Utilities */

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

header {
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    background-color: #FFF;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    height: 30px;
    width: 100px;
    align-items: center;
}

/* Grid */

#grid {
    width: 650px;
    height: 650px;
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#grid .cell {
    height: calc(100% / 10);
    width: calc(100% / 10); 
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
}

.cell.clicked {
    background-color: #0a2351;
}
